/*Home screen style*/


/* Style the links inside the sidenav */
.mySidenav a {
    display: flex;
    flex-direction: column;
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 30%; /* Set a specific width */
    height: 100%;
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }
  
  .mySidenav a:hover {
    background-color: #188FDD;
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
 
  .info{
padding: 20px;
    background-color: #282A3A;
    color: white;


  }