Body {  
    font-family: Calibri, Helvetica, sans-serif;  
    background: url(background.png) no-repeat center center fixed;
	background-size:cover;
	  position: absolute; 

    background-size: 100%;
  }  
  .forums{
  
    

    margin-top: 15%;
    margin-right: 35%;
    margin-left: 35%;
    border: solid;
    border-color: white;

    border-radius: 10px;

        padding: 30px;   
        background-color: lightblue;  
    }   
  .upload{
    margin-right: 299px;


  }
  .h1{

    color: #188FDD;


   }
   .h2
   {
     color: #188FDD;
    }
   button {   
    border-radius: 25px;

       background-color: #188FDD;   
       width: 100%;  
        color: white;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         } 

         